
body{
    background-color: #f1f2f6;
    color:#dfe4ea ;
}
h1{
    align-items: center;
    color: #ff4757;
    margin: 40px auto;
    display: flex;
	flex-direction: column;
}
.game-board {
	width: 300px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	margin-bottom: 0px;
}

.cell {
	width: 100px;
	height: 100px;
	background-color: #ff4757;
	border: 1px solid #ff6b81;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	cursor: pointer;
}

.cell:hover {
	background-color: #ff6b81;
}
